[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0039: Use local function
dotnet_diagnostic.IDE0039.severity = none

# CS1591: 공개된 형식 또는 멤버에 대한 XML 주석이 없습니다.
dotnet_diagnostic.CS1591.severity = none
